
.admin-navlist{
    background-color: #1a1d3d;
    padding: 10px;
}
.admin-nav-item{
    text-decoration: none;
    padding: 0px 20px;
    font-size: 1.1rem;
    color: #fff;
}

/* =======pizzas list page======== */
.pizzas-list{
    text-align: left;
}
.trash-btn,
.edit-btn{
    margin: 0px 7px;
    cursor: pointer;
}


/* ========add pizza page======= */
.addpizza-form{
    text-align: left;
    max-width: 500px;
    padding: 20px 30px;
}
.addpizza-form .form-control{
    box-shadow: none;
    margin-bottom: 10px;
}